*{
  margin: 0;
  padding: 0;
}
 /* .chartContainer{
  width: 50vw;
 }

 @media (max-width: 800px) {
  .chartContainer{
    width: 100vw;
  }
 } */

 .chartContainer div{
  flex-direction : row;
 }


 h2{
  color: dodgerblue;
 }
 /* .pie-h{
  max-height: 70vh;
  align-items: center;
  text-align: center !important;
 } */
 .dchart{
  width: 100px;
  height: 100px;
 }

 /* table, tr, td, th{
  border: 1px solid tomato;
  text-align: center;
  padding: 5px;
 } */